// styles/landing-page.module.scss

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
  background: url("../transparent-image.png") no-repeat center center;
  background-size: contain; /* or cover, depending on the size */
}

.heroTitle {
  font-size: 4rem;
  color: #f4f5f7;
  animation: slideInDown 1.5s ease-out;
}

.heroSubtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #ffffff;
  animation: fadeInUp 2s ease-in-out;
}

.ctaButton {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #fca311;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #e63946;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
// styles/landing-page.module.scss

@media (max-width: 768px) {
  .heroTitle {
    font-size: 2.5rem;
  }

  .heroSubtitle {
    font-size: 1.2rem;
  }

  .ctaButton {
    padding: 12px 24px;
  }
}
